#field{:enemy => ememy_user_teams_path(current_user), :faseNum => 0,:action => war_user_teams_path(current_user),:name => "data[data]",:win => win_user_teams_path(current_user),:lose => lose_user_teams_path(current_user)}
  - for j in 1..16 do
    .fields{class: "d-none"}
      - @fields.each.with_index(1) do|f,i|
        - if i >= 16*j-15 && i < 16*j+1
          .field{id: "ID_#{i}", class: "d-none"}
            - @chars.each do|char|
              - if char.id == f.char_id
                = char.name
  - for j in 17..32 do
    .fields
      - @fields.each.with_index(1) do|f,i|
        - if i >= 16*j-15 && i < 16*j+1
          .field{:faseNum => 0,id: "ID_#{i}"}
            - @chars.each do|char|
              - if char.id == f.char_id
                = char.name
                .status{id: "ST_#{i}"}
                  = "体力:#{char.vitality}"
                  %br
                  = "攻撃:#{char.attack}"
                  %br
                  = "速度:#{char.speed}"
  - for j in 33..48 do
    .fields{class: "d-none"}
      - @fields.each.with_index(1) do|f,i|
        - if i >= 16*j-15 && i < 16*j+1
          .field{id: "ID_#{i}", class: "d-none"}
            - @chars.each do|char|
              - if char.id == f.char_id
                = char.name
%br
= "敵チームを下記から選択して下さい"
%br
%br
- @teams.each do |team|
  .team{id: "team#{team.id}", data: "#{team.char}", team_id: "#{team.id}"}
    - if team.char != "敵チームを下記から選択して下さい"
      = "id#{team.id}:#{team.char}"

%br
ランキング
- @team_ranks.each.with_index(1) do|team_rank,i|
  %div
    = "RANK#{i}:勝率#{team_rank[:ratio]}%:#{team_rank[:name]}"