.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-group
        = @group.name
      .main-chat__group-info__left-box__members-list
        Member :
        .main-chat__group-info__left-box__members-list__member
        - @members.each do |member|
          = User.find(member.user_id).name
    .main-chat__group-info__edit-btn
      Edit
  .main-chat__message-list
    = render @messages

  .main-chat__message-form
    .main-chat__message-form__new-message
      .main-chat__message-form__new-message__input-area
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'main-chat__message-form__new-message__input-area__text', placeholder: 'type a message'
          = f.label :image, class: 'main-chat__message-form__new-message__input-area__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'main-chat__message-form__new-message__input-area__send-btn'