.side-bar
  .side-bar__user-name
    .side-bar__user-name__name-box
      .side-bar__user-name__name-box__user
        = current_user.name
      .side-bar__user-name__name-box__icon
        = link_to("#") do
          = icon('far', 'edit')
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list__group-name
      techcamp
    .side-bar__group-list__latest-message
      まだメッセージがありません